ZK_TH_TRANSPORT_BIND_ADDR=0.0.0.0:4000
ZK_TH_ZAKOFISH_BIND_ADDR=0.0.0.0:4001

ZK_TH_HQ_RPC_URL=http://localhost:50051
ZK_TH_HQ_RPC_ADMIN_TOKEN=sdfgfdsg

ZK_TH_CERT_FILE=cert.pem
ZK_TH_KEY_FILE=key.pem

ZK_TH_REDIS_URL=redis://localhost::6379
