# HQ Application Configuration

BACKEND_ADDRESS=localhost:8080
RPC_ADDRESS=localhost:50052
RPC_ADMIN_TOKEN=sdfgfdsg

# PostgreSQL Connection String
DATABASE_URL=postgres://user:password@localhost:5432/zako3

# Discord OAuth2 Client Details
DISCORD_CLIENT_ID=your_client_id_here
DISCORD_CLIENT_SECRET=your_client_secret_here
DISCORD_REDIRECT_URI=http://localhost:3000/auth/callback

# Discord Bot Token
DISCORD_BOT_TOKEN=your_bot_token_here

# JWT Signing Secret (Generate a strong random string)
JWT_SECRET=your_super_secret_jwt_key_here

MAPPER_WASM_DIR=/tmp/hq-mappers
MAPPER_DB_PATH=/tmp/hq-mappers.db
