REDIS_URL=redis://127.0.0.1:6379
DISCORD_TOKEN=
NATS_URL=nats://127.0.0.1:4222
AE_TOKEN=mytoken
PORT=10031
HOST=0.0.0.0
TAPHUB_URL=127.0.0.1:4000
TAPHUB_SNI=localhost

# Telemetry (optional)
OTLP_ENDPOINT=http://localhost:5081
# OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic <base64>,organization=default,stream-name=default
METRICS_PORT=9090
