ZK_TH_TRANSPORT_BIND_ADDR=0.0.0.0:4000
ZK_TH_ZAKOFISH_BIND_ADDR=0.0.0.0:4001

ZK_TH_HQ_RPC_URL=http://localhost:50051
ZK_TH_HQ_RPC_ADMIN_TOKEN=sdfgfdsg

ZK_TH_ZAKOFISH_CERT_FILE=zakofish-cert.pem
ZK_TH_ZAKOFISH_KEY_FILE=zakofish-key.pem
ZK_TH_TAPHUB_TRANSPORT_CERT_FILE=transport-cert.pem
ZK_TH_TAPHUB_TRANSPORT_KEY_FILE=transport-key.pem

ZK_TH_REDIS_URL=redis://localhost::6379

ZK_TH_CACHE_DIR=cache

ZK_TH_REQUEST_TIMEOUT_MS=13000

# Telemetry (optional)
ZK_TH_OTLP_ENDPOINT=http://localhost:5081
# OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic <base64>,organization=default,stream-name=default
ZK_TH_METRICS_PORT=9092
